@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit;
}

select,input,textarea{
    border: 1px solid rgb(90, 90, 90);
    background-color: rgb(231, 231, 231);
    outline-color: rgb(90, 90, 90);
    border-radius: 4px;
}

.active{
    background-color: rgb(207, 207, 207);
    color: black
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}